<h1>Factura {{factura._id}}</h1>
<hr>

<form [formGroup]="miFormulario">
    <div class="row mb-3">
        <span class="text-warning mb-4">Factura generada el {{ factura.fecha | date }}</span>
        <div class="col-6">
            <div class="mb-2">
                <label for="nombre" class="text-label">Nombre</label>
                <input type="text" formControlName="nombre" 
                        id="nombre" class="form-control"
                        readonly/>
            </div>
            <div class="mb-2">
                <label for="direccion" class="text-label">Direccion</label>
                <input type="text" formControlName="direccion" 
                        id="direccion" class="form-control"
                        readonly/>
            </div>
            <div class="mb-2">
                <label for="correo" class="text-label">Correo</label>
                <input type="text" formControlName="correo" 
                        id="correo" class="form-control"
                        readonly/>
            </div>
        </div>
        <div class="col-6">
            <div class="mb-2">
                <label for="cedula" class="text-label">Cedula</label>
                <input type="text" formControlName="cedula" 
                        id="cedula" class="form-control" 
                        readonly/>
            </div>
            <div class="mb-2">
                <label for="telefono" class="text-label">telefono</label>
                <input type="text" formControlName="telefono" 
                        id="telefono" class="form-control" 
                        readonly/>
            </div>
        </div>
    
    </div>
    <div class="row">
        <h2 class="text-center text-danger mt-4 mb-4"> ----- DETALLE DE FACTURA ----- </h2>
        <div class="col-12">
            <table class="table table-primary">
                <thead>
                    <th>Item</th>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Precio</th>
                    <th>Total</th>
                </thead>
                <tbody class="table-striped">
                    <tr *ngFor="let item of items; let i = index">
                        <td> {{ i + 1 }} </td>
                        <td> {{ item.producto.nombre }} </td>
                        <td> {{ item.cantidad }} </td>
                        <td> {{ item.producto.precio | currency }}</td>
                        <td> {{ item.cantidad * item.producto.precio | currency  }} </td>
                    </tr>
                </tbody>
            </table>
            <h3 class="float-end">Total: <span class="text-danger">{{factura.total | currency}}</span></h3>
        </div>
    
        <span class="text-light mt-5 manchadito">Venta realizada por: {{ factura.usuario?.nombre }}</span>
    </div>
</form>
