<h1> Productos - <small>Crear producto </small> </h1>
<hr>

<form action="">
    <div class="row container">
        <div class="col-6">
            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" class="form-control" name="nombre">
            </div>
            <div class="mb-3">
                <label for="costo" class="form-label">Costo</label>
                <input type="text" class="form-control" name="costo">
            </div>
            <div class="mb-3">
                <label for="precio" class="form-label">Precio</label>
                <input type="text" class="form-control" name="precio">
            </div>
            <div class="mb-3">
                <label for="proveedor" class="form-label">Proveedor</label>
                <input type="text" class="form-control" name="proveedor">
            </div>
        </div>
        <div class="col-6">
            <div class="mb-3">
                <label for="proveedor" class="form-label">Existencias</label>
                <input type="text" class="form-control" name="proveedor">
            </div>
            <div class="mb-3">
                <label for="categoria" class="form-label">Existencias</label>
                <select class="form-select" name="categoria" id="categoria">
                    <option value="valor">Valor 1</option>
                </select>
            </div>

            <div class="mb-3">
                <label for="categoria" class="form-label">Descripción</label>
                <textarea class="form-control" cols="20" rows="5" type="search"></textarea>
            </div>
        </div>
    </div>
    <button class="btn btn-primary float-end">Guardar</button>
</form>