/* You can add global styles to this file, and also import other style files */

html {
    min-height: 100%;
    position: relative;
}

body {
    height: 750px;
    margin: 0;
    margin-bottom: 40px;
}

#sidenav{
    height: 100%;
    width: auto;
}
