<h1>Clientes - <small> {{ (cliente.id) ? 'Actualizar ' : 'Nuevo ' }}cliente</small>
    <a routerLink="/protected/clientes/clientes" class="btn btn-primary float-end">Ver clientes</a>
</h1>
<hr>

<form [formGroup]="miFormulario" 
       autocomplete="off"
       (ngSubmit)="guardar()">

    <div class="row">
        <div class="col-6">
            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre completo</label>
                <input type="text" id="nombre" 
                        formControlName="nombre"
                        class="form-control" 
                        placeholder="Ponchito Tirado Socarras">
                        <span class="form-text text-danger" *ngIf="esValido('nombre')">
                            El nombre debe tener mínimo 2 letras
                        </span>
            </div>
            
            <div class="mb-3">
                <label for="cedula" class="form-label">Identificación</label>
                <input type="text" id="cedula" 
                        formControlName="cedula"
                        class="form-control" 
                        placeholder="1124410092">
                        <span class="form-text text-danger" *ngIf="esValido('cedula')">
                            La cedula debe ser de tipo númerico y minimo 6 cifras.
                        </span>
            </div>

            <div class="mb-3">
                <label for="telefono" class="form-label">Telefono</label>
                <input type="tel" id="telefono" 
                        class="form-control" 
                        formControlName="telefono"
                        placeholder="3225362523">
                        <span class="form-text text-danger" *ngIf="esValido('telefono')">
                            El telefono debe ser de tipo númerico.
                        </span>
            </div>


        </div>
        <div class="col-6">

            <div class="mb-3">
                <label for="direccion" class="form-label">Dirección</label>
                <input type="text" 
                        class="form-control" 
                        formControlName="direccion"
                        placeholder="Calle 14 D # 20 - 37">
                        <span class="form-text text-danger" *ngIf="esValido('direccion')">
                            El campo es obligatorio
                        </span>
            </div>

            <div class="mb-3">
                <label for="correo" class="form-label">Correo electrónico</label>
                <input type="email" id="nombre" 
                        class="form-control" 
                        formControlName="correo"
                        placeholder="ponchito@sistemprint.com">
                        <span class="form-text text-danger" *ngIf="esValido('correo')">
                            El campo debe tener pinta de correo
                        </span>
            </div>


        </div>
        <div class="col-8"></div>
        <div class="col-4">
            <button type="submit" 
                    class="btn btn-success float-end"
                    [disabled]="miFormulario.invalid">{{ (cliente.id) ? 'Actualizar' : 'Guardar'  }}</button>
        </div>

    </div>
</form>